body {
	margin: 0;
	background-color: #d2d7e3;
	background: linear-gradient(
		90deg,
		rgba(222, 98, 98, 1) 0%,
		rgba(255, 184, 140, 1) 100%
	);
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #363130;
}
